<template>
  <div class="container">
    <!-- เป็นส่วนของ spinner โดย เช็คเงื่อนไขจาก isLoading -->
    <div v-if="isLoading" class="loading-overlay">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- ส่วนของ Map -->
    <div id="map" class="mb-4"></div>
    <div class="input-group mb-3">
      <!-- ช่องกรอกค้นหา และมีการเรียกใช้ fetchRestaurants หลังจากกด enter -->
      <input
        v-model="search"
        type="text"
        placeholder="Search for restaurants..."
        class="form-control"
        @keyup.enter="fetchRestaurants"
      />
      <div class="input-group-append">
        <!-- ปุ่ม Search เรียกใช้ fetchRestaurants -->
        <button class="btn btn-primary" @click="fetchRestaurants">
          Search
        </button>
      </div>
    </div>
    <div class="row">
      <!-- ลูปข้อมูลเพิ่อมาทำเป็น การ์ด -->
      <div
        v-for="restaurant in restaurants"
        :key="restaurant.place_id"
        class="col-lg-4 col-md-6 col-sm-12 mb-4"
      >
        <div class="card h-100" style="width: 18rem">
          <!-- ใช้ :src สำหรับการผูกตัวแปรรูปภาพ -->
          <img
            :src="'data:image/jpeg;base64,' + restaurant.photo"
            class="card-img-top"
            alt="Restaurant Image"
            style="height: 200px; width: 100%; object-fit: cover"
          />
          <div class="card-body">
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <p class="card-text">{{ restaurant.formatted_address }}</p>
            <!-- ปุ่ม Zoom เรียกใช้ zoomToRestaurant โดยส่งค่า restaurant ที่ได้จากลูปไปด้วย -->
            <button
              class="btn btn-secondary"
              @click="zoomToRestaurant(restaurant)"
            >
              Zoom
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  // ประกาศตัวแปรและค่าเริ่มต้น
  data() {
    return {
      search: 'บางซื่อ',
      restaurants: [],
      isLoading: false,
      marker: [],
    }
  },
  // เรียกใช้ function ในขั้นตอนแรก
  mounted() {
    this.fetchRestaurants()
  },
  methods: {
    // function เอาไว้สำหรับ call api getRestaurants เพื่อนำข้อมูลร้านอาหารออกมา
    async fetchRestaurants() {
      // แสดง spinner รอโหลดข้อมูล
      this.isLoading = true
      try {
        // ใช้ axios ในการ call api โดยส่งตัวแปร search ที่ได้จาก v-model
        const response = await this.$axios.$post('/getRestaurants', {
          search: this.search,
        })
        this.restaurants = response.data
        // เรียกใช้ function Map
        this.initMap()
      } catch (error) {
        console.error('An error occurred while fetching data: ', error)
      } finally {
        this.isLoading = false
      }
    },
    initMap() {
      // คำนวณค่าเฉลี่ยของ latitude และ longitude
      let avgLat = 0
      let avgLng = 0

      this.restaurants.forEach((restaurant) => {
        avgLat += restaurant.geometry.location.lat
        avgLng += restaurant.geometry.location.lng
      })

      avgLat /= this.restaurants.length
      avgLng /= this.restaurants.length

      /* global google */
      // สร้าง Map ขึ้นมา
      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: { lat: avgLat, lng: avgLng },
      })
      // ลูปข้อมูลที่ได้จาก function fetchRestaurants จะทำเป็น marker บน Map
      this.restaurants.forEach((restaurant) => {
        this.marker = new google.maps.Marker({
          position: {
            lat: restaurant.geometry.location.lat,
            lng: restaurant.geometry.location.lng,
          },
          map,
          title: restaurant.name,
        })
      })
    },
    // function ในการซูม เข้าไปที่ marker ที่กดจาก even @click จากปุ่ม Zoom
    zoomToRestaurant(restaurant) {
      // นำค่าที่ได้มาไปปรับ Map ใหม่
      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: {
          lat: restaurant.geometry.location.lat,
          lng: restaurant.geometry.location.lng,
        },
      })
      this.marker = new google.maps.Marker({
        position: {
          lat: restaurant.geometry.location.lat,
          lng: restaurant.geometry.location.lng,
        },
        map,
        title: restaurant.name,
      })
      // เลื่อนขึ้นไปบนสุดของ page
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      })
    },
  },
}
</script>

<style>
#map {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  #map {
    height: 300px;
    margin-top: 20px;
    border: 1px solid #ccc;
  }
}

@media (max-width: 575.98px) {
  #map {
    height: 200px;
    margin-top: 20px;
    border: 1px solid #ccc;
  }
}
</style>
